.wrapper {
    height: 1000px;
}

.img {
    position: relative;
    width: 285px;
    height: 200px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.table-container {
    position: relative;
}

.text-block1 {
    position: absolute;
    top: 135px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 286px;
    height: 40px;
    padding-top: 10px;
    z-index: 1;
}

.text-block2 {
    position: absolute;
    top: 135px;
    left: 345px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 286px;
    height: 40px;
    padding-top: 10px;
    z-index: 1;
}

.text-block3 {
    position: absolute;
    top: 385px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 286px;
    height: 40px;
    padding-top: 10px;
    z-index: 1;
}

.text-block4 {
    position: absolute;
    top: 385px;
    left: 345px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 286px;
    height: 40px;
    padding-top: 10px;
    z-index: 1;
}

.text-block5 {
    position: absolute;
    top: 635px;
    left: 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
    width: 286px;
    height: 40px;
    padding-top: 10px;
    z-index: 1;
}