@media screen and (max-width: 980px) {
    .wrapper {
        max-width: auto;
        height: auto;
    }
    .head-contain {
        max-width: auto;
        margin: 0 0 0 30px;
    }
    .nav-contain {
        right: 15px;
        margin: 0 30px 0 0;
    }
    .content {
        max-width: 540px;
        float: left;
        padding: 0 30px 30px 0px;
        margin: 0 30px 0 30px;
        margin-top: 0px;
    }
    #bio-img {
        width: 224px;
        height: 150px;
    }
    .img {
        width: 224px;
        height: 150px;
    }
    .text-block1, .text-block2, .text-block3,
    .text-block4, .textblock5 {
        width: 224px;
    }
    .text-block1 {
        top: 85px;
    }
    .text-block2 {
        position: absolute;
        top: 85px;
        width: 225px;
        left: 284px;
    }
@media screen and (max-width: 768px) {
    .wrapper {
        max-width: auto;
        height: auto;
    }
    .content {
        max-width: auto;
        height: auto;
    }
    #bio-img {
        width: 285px;
        height: 200px;
    }
